header {
    background-color:white;
    color:black;
    text-align:center;
    padding:5px; 
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:30px;
    width:100%;
    float:top;
    padding:5px; 
}
section {
    width:100%;
	height:100%;
    float:left;
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

iframe {
	width:100%;
	height:100%;
	min-height:500px;
	border:none;
}